


.btn-seeAll {
    background: linear-gradient(90deg, #7E90FE 0%, #9873FF 100%);
    border-radius: 8px;
    padding: 19px 28px;
    font-weight: 800;
    font-size: 20px;
    color: #FFFFFF;
    margin-bottom: 125px;
}