.banner-info{
    padding: 50px 80px 50px 90px;
}
.banner-info h1 {
    font-weight: 800;
    font-size: 60px;
    color: #1A1919;


}
.heading{
  color: #7E90FE;
}

.banner-info p {
    font-size: 18px;
    margin-top: 24px;
    margin-bottom: 30px;
}

.banner-info button {
    padding: 19px 28px;
    background: linear-gradient(90deg, #7E90FE 0%, #9873FF 100%);
    border-radius: 8px;
}